/*! CSS Used from: http://127.0.0.1:5500/css/estilo.css */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #light-grey !important;
    text-decoration: underline;
}

.textoBlanco {
    color: #fff;
}

@media screen and (min-width:1200px) {
    i {
        color: black;
    }

    .icon {
        color: white;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    * {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    i {
        color: black;
    }

    .icon {
        color: white;
    }
}

@media screen and (min-width:770px) and (max-width:1199px) {
    h6 {
        text-align: left;
    }
}

@media screen and (max-width:767px) {
    * {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    i {
        color: black;
    }

    .icon {
        color: white;
    }
}

@media screen and (min-width:761px) and (max-width:769px) {
    h6 {
        text-align: left;
    }
}

/*! CSS Used from: http://127.0.0.1:5500/font-awesome-4.6.3/css/font-awesome.min.css */
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.fa-stack-1x,
.fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.fa-stack-1x {
    line-height: inherit;
}

.fa-stack-2x {
    font-size: 2em;
}

.fa-map-marker:before {
    content: "\f041";
}

.fa-phone:before {
    content: "\f095";
}

.fa-twitter:before {
    content: "\f099";
}

.fa-facebook:before {
    content: "\f09a";
}

.fa-pinterest:before {
    content: "\f0d2";
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-linkedin:before {
    content: "\f0e1";
}

.fa-circle:before {
    content: "\f111";
}

.fa-youtube:before {
    content: "\f167";
}

.fa-instagram:before {
    content: "\f16d";
}

.fa-whatsapp:before {
    content: "\f232";
}

/*! CSS Used from: https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css */
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.fa-stack-1x,
.fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.fa-stack-1x {
    line-height: inherit;
}

.fa-stack-2x {
    font-size: 2em;
}

.fa-map-marker:before {
    content: "\f041";
}

.fa-phone:before {
    content: "\f095";
}

.fa-twitter:before {
    content: "\f099";
}

.fa-facebook:before {
    content: "\f09a";
}

.fa-pinterest:before {
    content: "\f0d2";
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-linkedin:before {
    content: "\f0e1";
}

.fa-circle:before {
    content: "\f111";
}

.fa-youtube:before {
    content: "\f167";
}

.fa-instagram:before {
    content: "\f16d";
}

.fa-whatsapp:before {
    content: "\f232";
}

/*! CSS Used from: https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css */
*,
::after,
::before {
    box-sizing: border-box;
}

footer {
    display: block;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.linkB {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.linkB:hover {
    color: #a2a2a2;
    text-decoration: underline;
}

img {
    vertical-align: middle;
    border-style: none;
}

h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h6 {
    font-size: 1rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-md-2,
.col-md-3,
.col-md-4,
.col-xl-2,
.col-xl-3 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width:768px) {
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width:992px) {
    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width:1200px) {
    .col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.d-inline-block {
    display: inline-block !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.py-3 {
    padding-top: 1rem !important;
}

.py-3 {
    padding-bottom: 1rem !important;
}

.mx-auto {
    margin-right: auto !important;
}

.mx-auto {
    margin-left: auto !important;
}

@media (min-width:768px) {
    .mb-md-0 {
        margin-bottom: 0 !important;
    }
}

.text-center {
    text-align: center !important;
}

@media (min-width:768px) {
    .text-md-left {
        text-align: left !important;
    }
}

.text-uppercase {
    text-transform: uppercase !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

@media print {

    *,
    ::after,
    ::before {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }

    p {
        orphans: 3;
        widows: 3;
    }

    .container {
        min-width: 992px !important;
    }
}