@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");


.sistema_link a {
  padding: 0.5em 1em;
  font-size: 0.9em;
  color: white;
  background-color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  border: 1px solid white;
  transition: all 0.3s ease-in;

}

.sistema_link a:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.home_link a {
  padding: 0.5em 1em;
  font-size: 0.9em;
  color: black;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  border: 1px solid black;
  transition: all 0.3s ease-in;

}

.home_link a:hover {
  color: white;
  background-color: black;
}


.h3s {
  font-weight: 400;
  font-size: 16px;
  display: inline;
}

.h2s {
  display: inline;
  font-weight: bold;
  font-size: 16px;
}

#sidebar ul li h1 {
  display: inline;
}

.zsiq_floatmain {
  display: none !important;
}

.hidelement {
  display: none !important;
}

#gdprbanner {
  display: none !important;
}

.gdprcookie-types ul li input {
  display: inline-block !important;
}

.doscinco {
  font-size: 25px;
}


.scrollBlanco li a {
  color: white;
  text-shadow: none;
}

.metalicosF {
  display: none;
}

.decontiuosF {
  display: none;
}

.col1F {
  padding-left: 0px;
}

.noticias {
  background-color: rgba(0, 0, 0, .03);
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.imgiz {
  width: 49%;
  float: left;
  height: auto;
}

.imgde {
  width: 49%;
  float: right;
  ;
  height: auto;
}

.textura {
  text-align: center;
  min-height: 350px;
  margin-bottom: 20px;
}

/* Estilo footer */

.tituloF {
  margin-bottom: 35px;
}

.ulF li {
  list-style: none;
  margin-bottom: 15px;
}

.hiddenF {
  display: none;
}

.links {
  color: #053f7e !important;
}

.linkC:hover {
  color: black;
}

.logoF {
  width: 60px;
  float: left;
}

.col5F {
  padding-left: 0px;
}

.links2 {
  color: black;
}

.links2:hover {
  text-decoration: none;
  color: black;
}

.altofam {
  min-height: 152px;
}

/* Estilo Footer */
a {
  text-decoration: none;
  color: black;
}

.textoBlanco {
  color: #fff;
}

.linkB {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.linkB:hover {
  color: #a2a2a2;
  text-decoration: underline;
}

/* End Estilo Footer */

.step .row {
  font-size: 13px;
}

.mibr {
  border-bottom: 1px #00000078 solid;
}

.imgapli {
  /*   padding-left: 0px !important;
  padding-right: 0px !important; */
}

/* Fuente de logo Primacem y Arcocem */
@font-face {
  font-family: "Klavika-Bold";
  src: url("../assets/fonts/Klavika-Bold-2.otf");
}

@font-face {
  font-family: "Klavika-Light";
  src: url("../assets/fonts/Klavika-Light-2.otf");
}

.font1a {
  font-family: Klavika-Bold;
  font-size: 75px;
}

.font1as {
  font-family: Klavika-Bold;
  font-size: 50px;
  color: white !important;
}

.font1as:hover {
  text-decoration: none;
}

.font1b {
  font-family: Klavika-Light;
  font-size: 75px;
}

.font1plus {
  font-family: Klavika-Light;
  font-size: 75px;
  color: #ede53a;
}

.font1abs {
  font-family: Klavika-Light;
  font-size: 75px;
  color: #559743;
}

.font1grip {
  font-family: Klavika-Light;
  font-size: 75px;
}

.font1impoxy {
  font-family: Klavika-Light;
  font-size: 75px;
  color: #9a7719;
}

/* Fuentes para ecoclean y ceraciment */
@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "top";
  src: url("../assets/fonts/top.otf");
}

@font-face {
  font-family: "sealer";
  src: url("../assets/fonts/sealer.otf");
}

@font-face {
  font-family: "toptools";
  src: url("../assets/fonts/toptools.otf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../assets/fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../assets/fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("../assets/fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../assets/fonts/Roboto-Black.ttf");
}

.tops {
  font-family: top;
  font-size: 60px;
}

.sealer {
  font-family: sealer;
  font-size: 60px;
}

.toptools {
  font-family: toptools;
  font-size: 50px;
  color: white;
  text-decoration: none;
}

.toptools:hover {
  color: white;
  text-decoration: none;
}

.font2a {
  font-family: Roboto-Bold;
  font-size: 75px;
}

.font2as {
  font-family: Roboto-Bold;
  font-size: 50px;
  color: white;
}

.font2as:hover {
  text-decoration: none;
  color: white;
}

.font2bv {
  font-family: Roboto-Light;
  color: #528b3a;
  font-size: 75px;
}

.font2bg {
  font-family: Roboto-Light;
  color: #4b5564;
  font-size: 75px;
}

/* Estilos complementos */
.logoFamC {
  width: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Estilo para la página de cada familia */
.logoFam {
  /*   width: 55%; */
  margin-top: 30px;
  margin-bottom: 30px;
  max-height: 200px;
}

.en2 {
  font-size: 65px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 30px;
}

.en3 {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 10px;
}

.en4 {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
}

.en5 {
  font-size: 35px;
  font-weight: 500;
}

.en6 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
}

.en7 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
}

.eni {
  font-size: 40px;
  font-weight: 399;
  margin-bottom: 10px;
  margin-top: 10%;
}





.en2s {
  font-size: 65px;
  font-weight: 300;
  margin-bottom: 100px;
  margin-top: 30px;
  float: right;
}

.logoIni2 {
  top: 200px;
  position: relative;
  width: 50%;
}

.enHome {
  font-family: Roboto-Black !important;
  font-size: 20px;
  font-weight: 399;
  margin-bottom: 10px;
  color: white;
  position: relative;
  top: 200px;
  text-align: center;
  letter-spacing: 5px;

}

.enHome2 {
  font-family: Roboto-Black !important;
  position: absolute;
  top: 150px;
  left: 65%;
}

.enHome3 {
  font-family: Roboto-Black !important;
  color: white;
  font-size: 23.4px;
}

.txHome {
  font-family: Roboto-Regular !important;

  position: absolute;
  top: 200px;
  left: 65%;
  font-size: 23.4px;
}

.txHome2 {
  font-size: 20px;
  font-family: Roboto-Regular !important;
  color: white;
}

.contenedorHome {
  top: 180px !important;
}

.br1 {
  margin-bottom: 25px;
}

@media screen and (max-height:680px) {
  .contenedorHome {
    top: 150px !important;
  }

  .br1 {
    margin-bottom: 19px;
  }

  .txHome2 {

    font-size: 14px;
  }

  .enHome3 {
    margin-top: -70px;
  }
}

@media screen and (min-width: 1200px) {
  .texto-micro {
    margin-top: 30%;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {


  .texto-micro {
    margin-top: 30px;
  }

  .enHome2 {
    font-family: Roboto-Black !important;
    position: absolute;
    top: 250px;

  }

  .txHome {
    font-family: Roboto-Regular !important;
    position: absolute;
    top: 300px;

    font-size: 23.4px;
  }
}

.contenedorTextoF {
  top: 250px;
}

@media screen and (max-width: 767px) {
  .texto-micro {
    margin-top: 20px;
  }

  .logoF {
    margin-bottom: 15px;
    float: inherit;
  }

  .enHome2 {
    font-family: Roboto-Black !important;
    position: absolute;
    top: 130px;
    left: inherit;
  }

  .txHome {
    font-family: Roboto-Regular !important;
    position: absolute;
    top: 180px;
    left: inherit;
    font-size: 23.4px;

  }

  .prof {
    margin-top: 30px !important;
  }

  .eni {
    font-size: 40px;
    font-weight: 399;
    margin-bottom: 10px;
    margin-top: 50%;
  }

  .logoIni2 {
    top: 100px;
    position: relative;
    width: 100%;
  }

  .enHome {
    font-family: Roboto-Black !important;
    font-size: 20px;
    font-weight: 399;
    margin-bottom: 10px;
    color: white;
    position: relative;
    width: 100%;
    top: 100px;
    letter-spacing: 5px;

  }

  .hide {
    display: none !important;
  }

  .clocki {
    float: left;
  }

  div h6 hr {
    height: 8000px !important;
  }

  .vermas2 {
    float: none !important;
  }

  .vermas {
    float: none !important;
  }

  .pasoapli {
    border-bottom: none;
  }

  .en2 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .en2s {
    float: none;
    text-align: right;
    font-size: 40px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {

  .fam-iz {
    /*   margin-right: 2.5%;
    max-width: 47%; */
    max-width: 31.333333%;
    margin-right: 2%;
  }
}

/* Estilo págino microcmento */
.hrsis {
  border-top: 1px solid white !important;
  color: white !important;
  /*  padding: 20px; */
  margin-left: 34.7%;
}

.vermas {
  color: white !important;
  float: right;
}

.vermas:hover {
  text-decoration: none;
}

.vermas2 {
  color: white !important;
  float: right;
}

.vermas2:hover {
  text-decoration: none;
}

.textos {
  font-size: 15px;
  padding: 0px !important;
}

.imgmicro {
  width: auto;
  height: 71px !important;
}

.fam2 {
  color: white;
  font-size: 16px;
}

.fam2 .col-md-5 {
  padding-left: inherit;
}

/* Estilos de la página sistemas */
.fam:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.fam {
  background-color: white;
}

.fam2 {
  background-color: black;
}

.sisC {
  background: url(../imagenes/sistemas/fondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sisC2 {
  background-color: black;
}

.sisC3 {
  background: url(../imagenes/sistemas/fondo_familias_03.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* .sisC2 {
  background-image:
    linear-gradient(black, black),
    url(image-to-be-fake-filters.jpg);
  background-size: cover;
  background-blend-mode: saturation;
} */



.stext {
  /*  text-align: justify; */
  font-size: 16px;
  margin-bottom: 55px;
}

.stext2 {
  /*  text-align: justify; */
  font-size: 14px;
  margin-bottom: 55px;
}

.sh2 {
  font-size: 22px;
  font-weight: 600;
  padding: 0px !important;
}

.sh3 {
  font-size: 20px;
  font-weight: 520;
}

/* Página sistemas */
.btsistema {
  position: absolute;
  bottom: 0;
}

/* Color botones */
.bssttandard {
  background-color: #8390a4 !important;
  border: none !important;
}

.btevoluttion {
  background-color: #c20e1a !important;
  border: none !important;
}

.btefectto {
  background-color: #c4007a !important;
  border: none !important;
}

.btpuremettal {
  background-color: #93959c !important;
  border: none !important;
}

.btcmettal {
  background-color: #8c6026 !important;
  border: none !important;
}

.btelitte {
  background-color: #d37269 !important;
  border: none !important;
}

/* Color botones 2 */
.bssttandard2 {
  border: none !important;
  color: #8390a4 !important;
  font-weight: 600;
}

.btevoluttion2 {
  color: #c20e1a !important;
  border: none !important;
  font-weight: 600;
}

.btefectto2 {
  color: #c4007a !important;
  border: none !important;
  font-weight: 600;
}

.btpuremettal2 {
  color: #93959c !important;
  border: none !important;
  font-weight: 600;
}

.btcmettal2 {
  color: #8c6026 !important;
  border: none !important;
  font-weight: 600;
}

.btelitte2 {
  color: #d37269 !important;
  border: none !important;
  font-weight: 600;
}

/* .stext {
  text-align: justify;
  font-size: 20px;
}

.sh2 {
  font-size: 22px;
  font-weight: 400;


} */
/*Sidebar on Footer  */
.footerp {
  z-index: 1030;
  position: relative;
  background-color: #000000;
  color: white;
  font-size: 14px;
}

.contenedorF {
  text-align: left;
  padding-top: 33px;
  padding-bottom: 25px;
}

.privaF {
  float: right;
}

.row2 {
  text-align: center;
}

.clientesF,
.videotutF {
  display: none;
}

.brF {
  display: none;
}

/* Ftyles for costume form con contact page  */
.custom-control-input:checked~.custom-control-indicator {
  color: #fff;
  background-color: black !important;
}

.form-control:focus {
  border-color: black !important;
  box-shadow: inherit !important;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+* {
  font-size: 120% !important;
  opacity: 0.5 !important;
  top: 0.5em !important;
}

/* Re styles bootstrap */
.row {
  /*   margin-right: auto !important;
  margin-left: auto !important;
  width: 100% !important;  */
  width: 100% !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

/* Num tel footer change font style and size */
#mitadTextoDerecha {
  text-align: justify;
}

.alertSus {
  font-size: 20px;
  line-height: normal;
}

::-moz-selection {
  /* For Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

.numFooter {
  font-size: 20px;
  font-family: Montserrat;
}



/* Estilos movil */
@media screen and (max-width: 767px) {


  .brF {
    display: block;
  }

  .privaF {
    float: none;
    ;
  }

  .tituloF {
    margin-bottom: 5px;
    margin-top: 10px;
  }

  /* footer mobile*/
  .contenedorF {
    text-align: center;
  }

  .cookieF::before {
    content: '\A';
    white-space: pre;
  }

  .col-md-6,
  .col-6,
  .col-md-4,
  .col-md-12,
  .col-12,
  .col-md-3,
  .col-md-9,
  .col-9,
  .col-md-5,
  .col-md-2,
  .col-2,
  .col-10,
  .col-md-7 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .encabez {
    display: none;
  }

  /* Estilo noticias*/

  .topnoticias {
    height: 40px !important;
  }

  .language-markup {
    width: 300px;
  }

  .contenedorMenuOculto {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.wow a {
  color: black;
}

#menuidiomasmovil ul li a {
  color: #655f5f !important;
}

.links-ft a {
  color: black;
}

p a {
  color: black;
}

.texto-catalogo strong a {
  color: black !important;
}

#mitadTextoDerecha a {
  color: black;
}

#filters {
  color: white;
}

.navbar-nav li a {
  color: black;
  font-weight: 500;
  list-style: none;
  text-align: left;
  line-height: 35px;
  text-shadow: 1px 1px 5px #fff;
  font-size: 19px;
}

.clocki {
  font-size: 16px;
}

.leermass {
  /* margin-left: 285px !important; */
  background-color: black !important;
  border: none !important;
  float: right;
  margin-right: 10px;
}

.leermas {
  /* margin-left: 285px !important; */
  background-color: black !important;
  border: none !important;
  margin-top: 20px;
  margin-right: 10px;
}

.card-header a {
  color: black;
}

/* End re styles Bootstrap */

/* Imagen Responsive */
.containerImg {
  position: relative;
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.containerImg img {
  width: 100%;
  height: auto;
}

/* End imagen Responsive */
body {
  font-family: "Raleway" !important;
  /* Montserrat - Raleway - Roboto*/
}

.botones {
  margin-left: inherit !important;
  position: initial;
  width: 1400px;
}

.botones li {
  margin-right: 129px;
  /* 58px */
}

div.ocultable {
  display: none;
}

/* table {
  width: min-content !important;
} */

#crmWebToEntityForm {
  width: 100% !important;
}

.logo2 {
  display: none;
  margin-top: inherit;
  height: 60px !important;
  width: 60px !important;
  min-height: inherit !important;
  min-width: inherit !important;
  margin-left: 100px;
  /* margin-top: 4px; */
  margin-right: 30px;
}

/* Estilos Dropdown Menu Idiomas */

.ultimo {
  padding-bottom: 10px;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn img {
  margin-right: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 3;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding-left: 20px;
  padding-top: 8px;
  text-decoration: none;
  display: block;
  width: 65px;
}

.dropdown-content a img {
  margin-right: 100px;
  /* 10px */
}

.dropdown-content a img span {}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #655f5f;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .idiomas {
    display: none !important;
  }

  #header {
    height: 60px !important;
  }

  .logo2 {
    display: block !important;
    margin-left: 10px !important;
  }

  .logo1 {
    display: none !important;
  }
}

/* Tablet screen*/
@media (max-height: 715px) {
  .contenedorFI {
    top: 30px !important;
    /* antes 50px */
    /*  overflow-y: auto !important;

    -webkit-overflow-scrolling: touch !important; */
  }

  /* CSS stuff */
  #texto-microcemento {

    top: 150px;

  }



  #texto-distribuidores {
    top: 250px;
    left: 800px;
  }
}


/* Mobile Screen */
@media screen and (max-width: 767px) {
  .contenedorFI {
    top: 30px !important;
    /* antes 50px */
    /*  overflow-y: auto !important;

    -webkit-overflow-scrolling: touch !important; */
  }

  .idiomas {
    display: none !important;
  }

  #header {
    height: 60px !important;
  }

  .logo2 {
    display: block !important;
    margin-left: 10px !important;
  }

  .logo1 {
    display: none !important;
  }
}

/* Comparar imagenes estilo */
/*! CSS Used from: http://127.0.0.1:5500/css/estilo.css */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  * {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media screen and (max-width: 767px) {
  * {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/*! CSS Used from: http://127.0.0.1:5500/css/restyle.css */
::-moz-selection {
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

/*! CSS Used from: http://127.0.0.1:5500/plugins/twentytwenty-master/css/foundation.css */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}

img {
  display: inline-block;
  vertical-align: middle;
}

/*! CSS Used from: http://127.0.0.1:5500/plugins/twentytwenty-master/css/twentytwenty.css */
.twentytwenty-horizontal .twentytwenty-handle:before,
.twentytwenty-horizontal .twentytwenty-handle:after {
  content: " ";
  display: block;
  background: white;
  position: absolute;
  z-index: 30;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-horizontal .twentytwenty-handle:before,
.twentytwenty-horizontal .twentytwenty-handle:after {
  width: 3px;
  height: 9999px;
  left: 50%;
  margin-left: -1.5px;
}

.twentytwenty-before-label,
.twentytwenty-after-label,
.twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.twentytwenty-before-label,
.twentytwenty-after-label,
.twentytwenty-overlay {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.twentytwenty-before-label,
.twentytwenty-after-label {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
}

.twentytwenty-before-label:before,
.twentytwenty-after-label:before {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.twentytwenty-before-label:before,
.twentytwenty-after-label:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  line-height: 38px;
  padding: 0 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.twentytwenty-horizontal .twentytwenty-before-label:before,
.twentytwenty-horizontal .twentytwenty-after-label:before {
  top: 50%;
  margin-top: -19px;
}

.twentytwenty-left-arrow,
.twentytwenty-right-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
}

.twentytwenty-left-arrow,
.twentytwenty-right-arrow {
  top: 50%;
  margin-top: -6px;
}

.twentytwenty-container {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.twentytwenty-container img {
  max-width: 100%;
  position: absolute;
  top: 0;
  display: block;
}

.twentytwenty-container * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.twentytwenty-before-label {
  opacity: 0;
}

.twentytwenty-before-label:before {
  content: attr(data-content);
}

.twentytwenty-after-label {
  opacity: 0;
}

.twentytwenty-after-label:before {
  content: attr(data-content);
}

.twentytwenty-horizontal .twentytwenty-before-label:before {
  left: 10px;
}

.twentytwenty-horizontal .twentytwenty-after-label:before {
  right: 10px;
}

.twentytwenty-overlay {
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
  background: rgba(0, 0, 0, 0);
  z-index: 25;
}

.twentytwenty-overlay:hover {
  background: rgba(0, 0, 0, 0.5);
}

.twentytwenty-overlay:hover .twentytwenty-after-label {
  opacity: 1;
}

.twentytwenty-overlay:hover .twentytwenty-before-label {
  opacity: 1;
}

.twentytwenty-before {
  z-index: 20;
}

.twentytwenty-after {
  z-index: 10;
}

.twentytwenty-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid white;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40;
  cursor: pointer;
}

.twentytwenty-horizontal .twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 22px;
  -webkit-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-horizontal .twentytwenty-handle:after {
  top: 50%;
  margin-top: 22px;
  -webkit-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.twentytwenty-left-arrow {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px;
}

.twentytwenty-right-arrow {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px;
}

/*! CSS Used from: https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css */
*,
::after,
::before {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border-style: none;
}

@media print {

  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  img {
    page-break-inside: avoid;
  }
}

/* Estilos Efectto Images */
/* Imagenes Sttandard */
@media screen and (max-width: 767px) {
  #tipos-de-efectto {
    margin-top: -350px !important;
  }

  /* For mobile phones: */
  .chica {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: 100% !important;
    max-height: 300px !important;
  }

  .containerSttand four-columns {
    width: 150px;
    height: 150px;
  }

  .containerSttand three-columns {
    width: 150px;
    height: 150px;
  }

  .containerSttand two-columns {
    width: 210px;
    height: 210px;
  }
}

.containerSttand span {
  text-align: center;
}

/* Basic Responsive Image */
.containerSttand figure img {
  width: 100%;
  height: auto;
}

/* Responsive Images in Columns */
.two-columns {
  width: 49%;
  height: 49%;
  display: inline-block;
}

.three-columns {
  width: 32% !important;
  height: 32%;
  display: inline-block;
}

.four-columns {
  width: 23% !important;
  height: 23%;
  display: inline-block;
}

/* Responsive Images with Conditional Breakpoints  */

.breakpoint {
  /* One column for smartphones */
  max-width: 100%;
  display: inline-block;
}

@media (min-width: 420px) {

  /* Two columns for tablets */
  .breakpoint {
    max-width: 48%;
  }
}

@media (min-width: 760px) {
  .chica {
    background-size: 100% !important;
    background-repeat: no-repeat;
    background-position: 100% !important;
  }

  /* Four columns for large devices */
  .breakpoint {
    max-width: 24%;
  }
}

/* Full-width Responsive Image */
.full {
  width: 100%;
}

/* Demo Page Styles: Layout */
.containerSttand {
  position: relative;
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
}

/* End Estilos Efeccto Images */


/* Cookies style */
/* GDPR Cookie dialog */

.gdprcookie {
  /*   z-index: 99999999;
  position: fixed;
  color: black;
  font-size: .8em;
  line-height: 1.5em;
  left: 30px;
  bottom: 1.5rem;
  max-width: 25em;
  padding: 1rem;
  background: white;

  border-radius: 10px;

  box-shadow: 0 2px 15px rgba(0, 0, 0, .2); */
  width: 100%;
  background-color: rgba(24, 53, 72, .9);
  padding: 20px 30px;
  color: #fff;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  z-index: 2247483646 !important;
  text-align: center;
  left: 0;
  display: table;
  table-layout: fixed;
  font-family: raleway;
  box-sizing: border-box;

}



.gdprcookie h1,
.gdprcookie h2 {
  font-size: 1.2em;
  margin-bottom: .5rem;
}

.gdprcookie h2 {
  font-size: 1.2em;
}

.gdprcookie a {
  color: inherit;
}


/* GDPR Cookie buttons */

.gdprcookie-buttons {
  text-align: center;
}

.gdprcookie-buttons button {
  color: white;
  font-family: inherit;
  font-size: 1em;
  padding: .4rem;
  border: solid .05rem currentColor;
  border-radius: .15rem;
  margin: 0 .5rem;
  background: none;
  cursor: pointer;

}

.gdprcookie-buttons button:disabled {
  color: rgba(255, 255, 255, .5);
}

.gdprcookie-buttons button:first-child {
  padding: 5px 15px;
  background-color: #598cb0 !important;
  border-radius: 6px;
  margin-right: 15px;
  cursor: pointer;
  border: none;
}

.gdprcookie-buttons button:nth-child(2n) {
  padding: 5px 10px;
  border-radius: 6px;
  background-color: #182731;
  cursor: pointer;
  border: none;
}



/* GDPR Cookie types */

.gdprcookie-types ul {
  overflow: hidden;
  padding: 0;
  margin: 0 0 1rem;
}

.gdprcookie-types li {
  display: block;
  list-style: none;
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}

.gdprcookie-types input[type=checkbox] {
  margin-right: .25rem;
}